<apex:page standardController="Account" >
 <apex:form >
 		<apex:pageBlock title="Account Info">
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account Name: " />
                    <apex:inputField value="{!Account.Name}" label="Account Name"/>
                    </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Revenue: " />
                    <apex:inputField value="{!Account.AnnualRevenue}" label="Revenue" />                   	
                </apex:pageBlockSectionItem>
               </apex:pageBlockSection>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account Type: " />
                    <apex:inputField value="{!Account.Account_Type__c}" label="Account Type" />
                </apex:pageBlockSectionItem>         
            </apex:pageBlockSection>
                   <apex:commandButton action="{!Save}" value="Save" />
     	</apex:pageBlock>
    </apex:form>
</apex:page>