<apex:page standardController="Account" showHeader="true" tabStyle="account" >
    <style>
        .activeTab {background-color: #236FBD; color:white; background-image:none}
        .inactiveTab { background-color: lightgrey; color:black; background-image:none}
    </style>
    <apex:tabPanel switchType="client" selectedTab="tabdetails"
                   id="AccountTabPanel" tabClass="activeTab"
                   inactiveTabClass="inactiveTab">
        <apex:tab label="Details" name="AccDetails" id="tabdetails">
            <apex:detail relatedList="false" title="true"/>
        </apex:tab>
        <apex:tab label="Contacts" name="Contacts" id="tabContact">
            <apex:repeat value="{!Account.contacts}" var="contact">
                <apex:pageBlock title="{!contact.name}">
					<apex:pageBlockSection >
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Name"/>
                            <apex:outputLink value="{!URLFOR($Action.Contact.View,contact.id)}">
                            	<apex:outputField value="{!contact.name}"/>
                            </apex:outputLink>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem />
                        <apex:outputField value="{!contact.Email}"/>
                        <apex:outputField value="{!contact.Phone}"/>
                        <apex:outputField value="{!contact.DoNotCall}"/>
                        <apex:outputField value="{!contact.Fax}"/>
                        <apex:outputField value="{!contact.HasOptedOutOfEmail}"/>
                    </apex:pageBlockSection>                
                </apex:pageBlock>           
                <apex:relatedList subject="{!contact}" list="OpenActivities"/>
                <br/>
            </apex:repeat>
        </apex:tab>
        <apex:tab label="Opportunities" name="Opportunities"
                  id="tabOpp">
            <apex:repeat value="{!Account.Opportunities}" var="opp">
                <apex:outputPanel rendered="{!NOT(opp.IsClosed)}">
                    <apex:pageBlock title="{!opp.Name}">                        
                        <apex:pageBlockSection >
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Name" />
                                <apex:outputLink value="{!URLFOR($Action.Opportunity.View,opp.Id)}">
                                    <apex:outputField value="{!opp.Name}" />
                                </apex:outputLink>
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem />
                            <apex:outputField value="{!opp.StageName}" />
                            <apex:outputField value="{!opp.CloseDate}" />
                            <apex:outputField value="{!opp.Amount}" />
                            <apex:outputField value="{!opp.Probability}" />
                        </apex:pageBlockSection>
                    </apex:pageBlock>
                    <apex:relatedList subject="{!opp}"  list="OpportunityLineItems"/>
                </apex:outputPanel>            
            </apex:repeat>
        </apex:tab>
        <apex:tab label="Open Activities" name="OpenActivities"
                  id="tabOpenAct">
            <apex:relatedList subject="{!account}"
                              list="OpenActivities" />
        </apex:tab>
        <apex:tab label="Notes and Attachments"
                  name="NotesAndAttachments" id="tabNoteAtt">
            <apex:relatedList subject="{!account}"
                              list="CombinedAttachments" />
        </apex:tab>
    </apex:tabPanel>
</apex:page>